{% extends 'base.html.twig' %}


{% block title %}Connexion{% endblock %}

{% block body %}


        <h1 class="title.h1" style="margin-top: 50px">♻️ Challenges disponibles</h1>

        <div class="pannel_challenge">

        </div>

{% endblock %}
