@import url('https://fonts.cdnfonts.com/css/skia');
                

* {
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    font-family: Skia;
}

body {
    background-color: #e9dab9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

li{
    list-style-type: none;
}

#create_btn{
    margin-top: 50px;
   padding: 40px;
   font-size: 30px;
   border:solid 5px white;
   border-radius: 20px;
   background-color: #336a20;

}

form {
    font-size: large;
    color: #33271e;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form2{
    font-size: large;
    color: #33271e;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input {
    color: #33271e;
    font-size: medium;
    margin-bottom: 10px;
    background-color: #baab8a;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
}

form label {
    margin: 10px;
}

.button_nav {
    background-color: #A2DD9C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.button_nav:hover {
    background-color: #78C770;
    scale: 1.1;
}

.logo {
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1156298404389982290/logo_green.png?ex=6514764e&is=651324ce&hm=cbb674f1916244b2dc191e83560524b943e3952ce1d9f4668af34383b267235c&=&width=2160&height=530);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50px;
    width: 500px;
    margin: 10px;
}

.nav {
    background-image: url("https://img.myloview.com/stickers/abstract-green-and-blue-gradient-soft-color-background-ecology-concept-for-your-graphic-design-400-225517510.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    border-radius: 80px;
    align-items: center;

}

.title\.h1 {
    font-family: Skia;
    margin-bottom: 30px;
}

.button_valider {
    background-color: #336a20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
    margin: 20px
}

.button_valider:hover {
    background-color: #5f934d;
}

form a {
    font-size: small;
    color: #33271e
}


.pannel_challenge {
    color: #33271e;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
    background-color: #decca5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button_delete_detail {
    padding: 10px;
    background-color: #E96B4F;
    border-radius: 5px;
}

.button_validate_detail2 {
    margin: 5px;
    padding: 5px;
    background-color: #60D157;
    border-radius: 5px;
}

.button_validate_detail {
    padding: 10px;
    background-color: #60D157;
    border-radius: 5px;
}

.name_colonne_score {
    margin: 20px;
    background-color: #baab8a;
    border-radius: 3px;
    padding: 10px;


}

.button_maj_detail {
    padding: 10px;
    background-color: #70AAF5;
    border-radius: 5px;
}

a {
    outline: none;
    color : white;
    text-decoration: none;
}

.form_register {
    font-size: large;
    color: #33271e;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_register input {
    color: #33271e;
    font-size: medium;
    margin-bottom: 10px;
    background-color: #baab8a;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.choice_rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.button_valider2 {
    background-color: #336a20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 180px;
    cursor: pointer;
}

.button_valider3 {
    background-color: #336a20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    cursor: pointer;
}

.button_valider2:hover {
    background-color: #5f934d;
}

.form_register label {
    display: inline-block;
    width: 150px;
    text-align: justify-all;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.ul_score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #baab8a;
    padding: 20px;
    border-radius: 10px;
}

.perso_score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #baab8a;
    padding: 20px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #decca5;
}

.grid-item a {
    color: black;

}

.grid-item {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-image: url("https://i.pinimg.com/originals/30/0e/10/300e10aa0159398b1123dc14ab438d8f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.grid-item:hover {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: #336a20;
    opacity: 1;
    scale: 1.1;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.title.h1 {
    color: #33271e;
    margin-top: 20px;
}

.pannel_account_general {
    width: 80%;
    height: 700px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #baab8a;
    display: flex;
    justify-content: space-around;
    color: #33271e;

}

.h1_account {
    margin-top: 20px;
}

.pannel_account01 {
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 600px;
    background-color: #decca5;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.pannel_account02 {
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    background-color: #decca5;
    width: 40%;
    height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.pannel_account02 h2{
    margin-top: 10px;
}

.pannel_account01 h2{
    margin-top: 10px;

}

.infos {
    margin-top: 40px;
}

.button_logout_account {
    background-color: #E96B4F;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}


