<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="/assets/style.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <header>

        <div class="nav">
        <a href="/home"><div class="logo">
            </div></a>

        <div style="margin-right: 100px">
            <button class="button_nav"><a href="scores">Scores</a></button>
            <button class="button_nav"><a href="login">Connexion</a></button>
            <button class="button_nav"><a href="register">Inscription</a></button>
            <button class="button_nav"><a href="account">Compte</a></button>
            <button class="button_nav"><a href="admin">Pannel Admin</a></button>
        </div>
    </div>

    </header>


        {% block body %}{% endblock %}
    </body>
</html>
