{# templates/challenge/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un Défi{% endblock %}

{% block body %}


    <h1 class="title.h1" style="margin-top: 50px">Créer un défi</h1>

    <div class="form_register"
    <form method="post">
    {{form(form)}}
    </form>
    </div>

    
{% endblock %}
